{{>header}}
<body>
    <h1>welcome to DB</h1>
    <a href="/"><h3 class="link toMain">Main Page</h3></a>
    <a href="/addaccount"><h3 class="linkToAdd">Add new accounts</h3></a>
    <form action="/database/account?:url" method="get">
        <input type="text" name="url" id="url" placeholder="Enter URL">
        <button type="submit">Find Account</button>
    </form>
    <form action="/database" method="get">
        <button type="submit">View DB</button>
    </form>
    <p><a href="{{account.url}}" target="blank">{{account.url}}</a> | {{account.theme}} | {{account.product}}</p>
    <ul>
        {{#each accounts}}
        <li> <a href="{{this.url}}" target="blank">{{this.url}}</a> | {{this.theme}} | {{this.product}}</li>
        {{/each}}
    </ul>
</body>
{{>footer}}