<link rel="stylesheet" type="text/css" href="/static/css/theme.default.css">
<link rel="stylesheet" type="text/css" href="/static/css/viewDB.css">
{{>header}}

<body>
    <div id="page-preloader"><span class="spinner"></span></div>
    <div class="header_db">
        <!--add animated clouds -->
        <div class="wrapper_header">
            <h1>Welcome to online database</h1>
            <a href="/"><h3 class="linkInDB toMain">Main Page</h3></a>
            <a href="/addaccount"><h3 class="linkInDB linkToAdd">Add new accounts</h3></a>
            <a href="/users/logout">logout</a>
            <div class="search">
            <form class="finder form-inline" action="/database/search?:url" method="get">
                <input class="form-control" type="text" name="url" id="url" placeholder="Enter URL" required>
                <button class="link find btn btn-dark" type="submit">Find Account</button>
            </form>
            <form class="finder form-inline" action="/database/search?:theme" method="get">
                <input class="form-control" type="text" name="theme" id="theme" placeholder="Enter theme" required>
                <button class="link find btn btn-dark" type="submit">Find Accounts</button>
            </form>
            <div class="finder viewDBB">
                <a href="/database"><button class="link btn btn-dark" type="submit">View DB</button></a>
            </div>
        </div>
        </div>
        
    </div>
<!-- checkout content editable-->
    <table id="datatableDB" class="mainTable table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Ссылка на аккаунт</th>
                <th scope="col">Тематика</th>
                <th scope="col">Продукт</th>
                <th scope="col">Охват</th>
                <th scope="col">Стоимость размещения</th>
                <th scope="col">Средний приход подписчиков</th>
                <th scope="col">% ЦА с нужной гео</th>
                <th scope="col">% ЦА с нужным полом</th>
                <th scope="col">% ЦА с нужным возрастом</th>
                <th scope="col">ЦА</th>
                <th scope="col">Цена Охвата ЦА</th>
                <th scope="col">Цена Охвата</th>
                <th scope="col">Стоимость Подписчика</th>
                <th scope="col">Действия</th>
            </tr>
            </thread>
        <tbody>
            {{#each accounts}}
            <tr>
                <th scope="row">{{@index}}</th>
                <th><a href="{{this.url}}" target="blank">{{this.url}}</a></th>
                <th>{{this.theme}}</th>
                <th>{{this.product}}</th>
                <th>{{this.reach}}</th>
                <th>{{this.cost}}</th>
                <th>{{this.subscribersIncome}}</th>
                <th>{{this.percentTAgeo}}</th>
                <th>{{this.percentTAsex}}</th>
                <th>{{this.percentTAage}}</th>
                <th>{{this.TA}}</th>
                <th>{{this.costReachTA}}</th>
                <th>{{this.costReach}}</th>
                <th>{{this.subscriberCost}}</th>
                <th>
                    <div class="addition">
                        <img class="imgInAddition" onclick="submitDeleteForm('{{this.url}}')" src="/static/img/trash.png" alt="del">
                        <img class="imgInAddition" onclick="displayMsg('{{this.description}}', 'false')" src="/static/img/comment.png" alt="com">
                    </div>
                </th>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div id="hiddenComment">
        <p id="hiddenP"></p>
        <button class="rightButton btn btn-dark" id="closeButton" type="submit">Закрыть</button>
    </div>
    <div id="hiddenDelete">
        <p id="hiddenDel">Ты уверена, что хочешь удалить этот аккаунт из базы данных?</p>
        <button class="rightButton btn btn-success" id="acceptButton">ДА</button>
        <button class="leftButton btn btn-danger" id="declineButton">НЕТ</button>
    </div>
</body>
<script src="/static/js/jquery.tablesorter.js"></script>
<script src="/static/js/viewDB.js"></script>


{{>footer}}